/* -------------------------------------------------------------------- Reset */

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: sans-serif;
  list-style-position: inside;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  position: relative;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
  outline: none;
  outline: 0;
  outline-style: none;
  -moz-outline-style: none;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}